{:kotoba.app/id "cloud.itonami.isic-2790", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaetczwmvzfbzewhkbfaj3xpkbl5lne74kiyrqbjr4egvs6vspp7a", :kotoba.app/embed-url "ipfs://bafkreiaetczwmvzfbzewhkbfaj3xpkbl5lne74kiyrqbjr4egvs6vspp7a", :published {:archive "https://kotobase.net/ipfs/bafkreiaetczwmvzfbzewhkbfaj3xpkbl5lne74kiyrqbjr4egvs6vspp7a", :size 72838, :put-status 201, :get-status 200, :at "2026-08-15T13:33:52.684Z"}}
